body {
  margin: 100;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  font-family: 'Maven Pro', sans-serif;
  color: #2B2D2D;
  position:fixed;
  background-color: #2B2D2D;
  /* background-image: linear-gradient(to right, #00E39F, #00C4E1); */
}
