h2 {
color: #fff;
}

h4 {
  color: #fff;
}

h3 {
  color: #fff;
}

/* button {
  color: #fff;
  height: 46px;
  line-height: 46px;
  background-color: #515D6E;
  border-bottom: 5px #515D6E solid;
  border-radius: 15px;
  border-bottom: solid;
  border-bottom-color: #3AB0D4;
} */
